<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document 한글사용에 관하여</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script>
        window.addEventListener("load", () => {
            new Vue({
                el: '#app1',
                data: {
                    message: 'Hello Vue.js!'
                }
            })

            new Vue({
                el: '#app2',
                data: {
                    list: ['사과', '바나나', '딸기']
                }
            })

            new Vue({
                el: '#app3',
                methods: {
                    handleClick: function (event) {
                        alert(event.target) // [object HTMLButtonElement]
                    }
                }
            })

            new Vue({
                el: '#app4',
                data: {
                    message: '초기 메시지'
                }
            })
        });
    </script>
</head>

<body>
    <p id="app1">{{ message }}</p>
    <ol id="app2">
        <li v-for="item in list">{{ item }}</li>
    </ol>
    <button id="app3" v-on:click="handleClick">Click</button>
    <div id="app4">
        <input v-model="message">
    <p>{{ message }}</p>

    </div>
</body>

</html>