<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document 한글사용에 관하여</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="test.js"></script>
</head>

<body>

    <h1>Vue JS 기초편</h1>

    <h2>1. 텍스트 바인딩</h2>
    <div id="app1">
        <p>{{ message }}</p>
    </div>

    <h2>2. 반복 렌더링</h2>
    <div id="app2">
        <ol>
            <li v-for="item in list">{{ item }}</li>
        </ol>
    </div>

    <h2>3. 이벤트 사용하기</h2>
    <div id="app3">
        <button v-on:click="handleClick">Click</button>
    </div>

    <h2>4. 입력 양식과 동기화하기</h2>
    <div id="app4">
        <input v-model="message">
        <p>{{ message }}</p>
    </div>

    <h2>5. 조건 분기</h2>
    <div id="app5">
        <button v-on:click="show=!show">변경하기</button>
        <p v-if="show">Hello Vue.js!</p>
    </div>





</body>

</html>