@charset "utf-8";
/* VOGUE PJ 공통 기능 디자인 - common.css */
/* 
    공통기능: 상단영역(로고, 메뉴, GNB)
            하단영역(하단로고, 회사정보)
*/

/* 공사중 외곽선 */
/* body * {
    outline: 1px dashed rgb(182, 182, 182);
} */

/**************** 1. 상단영역 *****************/
#top {/* 상단 최상위 부모박스 */
    position: relative;
    /* z-index 적용위해 포지션줌 */
    z-index: 9999;
    /* 가장위에 오도록! */
    box-shadow: 0 0 4px #c0c0c0;
    /* 박스 그림자 */
}
.top {
    min-height: 206px;
    /* 206px 잡고 있다가 내용늘면 늘어남! */
}

/* 1-1. 상단메뉴 */
.tmenu {
    display: flex;
    /* 플렉스박스 */
    max-width: 970px;
    /* 최대970px이고 이것보다 작아지면 auto */
    height: 45px;
    margin: 0 auto;
}

/* 상단메뉴 하위 박스 등분할 */
.tmenu>div {
    flex: 1;
    /* flex 등분할시 높이값은 자동채우기됨!
    height:100% 를 안해도 됨! */
}

/* 1-1-1. sns박스 */
/* sns박스 a */
.sns a {
    display: inline-block;
    /* 디자인 적용위해! */
    width: 16px;
    height: 16px;
    font-size: 16px;
    /* 안줘도 html상속된 사이즈는 16px이다 */
    text-align: center;
    /* 박스내의 인라인요소 가로중앙정렬 */
    vertical-align: top;
    /* 인라인요소간 세로정렬(top-윗줄정렬)*/
    line-height: 16px;
    /* 글자가 박스 세로 중앙에 오도록 설정 */

    /* 위치조정 */
    margin-top: 15px;
    margin-right: 16px;

    /* 트랜지션: 속시이지 */
    transition: opacity .2s;
}

/* a요소 마우스 오버시 */
.sns a:hover {
    opacity: 0.8;
}

/* 트위터 아이콘 박스 */
.sns a.fi-twitter {
    font-size: 13px;
}

/* 유튜브 아이콘 박스 */
.sns a.fi-youtube-play {
    font-size: 11px;
}

/* sns 마지막 a요소에 카스 이미지넣기 */
.sns a:last-child {
    background: url(../images/sns_kakao.png) center/auto 100%;
}

/* 1-1-2. 사이드메뉴 */
.sideMenu {
    position: relative;
    /* 부모자격 */
}

/* 사이드메뉴 내용박스 */
.smbx {
    position: absolute;
    right: 0;
    /* 부모는? .sideMenu */
    display: flex;
    /* 플렉스박스 */
}

/* 메뉴 사이구분선 */
.smbx>li:first-child {
    border-right: 1px solid #e5e5e5;
}

/* a요소 */
.smbx>li>a {
    display: block;
    padding: 0 13px;
    line-height: 44px;

    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #747474;

}

/* 사이트메뉴 서브메뉴 */
.smsub {
    position: absolute;
    /* 젠틀앱솔루트! */
    width: 120px;
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
    /* 보더,패딩 포함 크기유지 박스 */

    opacity: 0;

    /* 투명하기때문에 아래있어서 숨기기 */
    height: 0;
    overflow: hidden;


}

/* 상위 메뉴에 마우스 오버시 서브메뉴 보이기 */
.smbx>li:hover .smsub {
    opacity: 1;
    height: auto;

    /* 트랜지션: 속시이지 */
    transition: opacity .4s ease-in-out;
}

.smsub a {
    display: block;
    padding: 7px 10px;
    font-family: 'NanumBarunGothic', sans-serif;
    font-size: 12px;
    color: #747474;
    background-color: #fff;

    /* 트랜지션: 속시이지 */
    transition: all .2s ease-in-out;
}

/* a에 오버시 */
.smsub a:hover {
    color: #333;
    background-color: #fafafa;
}

/* 첫번째 사이드 메뉴에 마우스 오버시 커서모양 text */
.smbx>li:first-child>a {
    cursor: text;
}

/* 1-2.로고박스 */
.logo {
    text-align: center;
    /* 글자,인라인요소 가로중앙 */
    font-size: 100%;
    /* 기본 h1태그는 font-size:2em 으로 잡혀있음
    이것때문에 박스 높이가 조금 더 잡힌다.
    100%로 해주면 기본 글자크기 16px로 셋업되어서
    높이값이 내용만큼 나온다! */
}

.logo img {
    vertical-align: bottom;
    /* 
        블록박스에 이미지를 넣은 경우 아래쪽에 약 4px정도의
        간극이 생긴다. 이것을 없애려면 인라인요소 세로정렬
        속성에 bottom 값으로 셋팅하면 해결된다!
        또는 top 을 줘도 되네?^^ 세로방향을 주면 됩니다!
        middle도 되네?^^
    */
}

/* 1-3.GNB박스 */
.gnb {
    min-height: 46px;
    /* 최소 46px 높이를 유지하다가 내용이 많아지면 높이값 늘어남 */

    /* 글자설정 */
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 46px;

    margin-top: 7px;
}

/* GNB 플렉스 박스 */
.gnb>ul {
    display: flex;
    flex-wrap: wrap;
    /* 줄바꿈 */
    justify-content: center;
    /* 자식요소 가로 중앙정렬 */

    max-width: 758px;
    margin: 0 auto;
    /* 가로가운데 */
}

/* 리스트요소 */
.gnb li {
    margin: 0 23px;
    /* 양쪽마진 */
}

/* 마지막 검색 li의 a요소 */
.gnb li:last-child a {
    width: 16px;
    height: 16px;
    font-weight: bold;
}

/* 링크 트랜지션 */
.gnb a {
    transition: color .3s;
}

/* 마우스 오버시 글자색 */
.gnb a:hover {
    color: #f00;
}


/***************** 3. 하단영역 *********************/
.info {
    min-height: 285px;
    /* 최소 285px높이를 유지하다가 내용이 많아지면 늘어남 */
    background-color: #000;
    box-sizing: border-box;
    padding: 70px;
    font-family: 'Roboto', 'NanumBarunGothic', sans-serif;
}

/* 3-1. 하단로고 */
.blogo {
    text-align: center;
}

/* 3-2. 회사주소*/
.addr {
    font-style: normal;
    /* 이탤릭해제 */
    text-align: center;
    font-size: 11px;
    color: #747474;
    margin: 20px 0 10px;
    /* 위 20px 양쪽 0 아래 10px */
}

/* 3-3. 하단링크 */
.blink {
    display: flex;
    flex-wrap: wrap;
    /* 컨텐츠 크기보다 작아지면 줄바꿈 */
    justify-content: center;
    /* 플렉스 가로방향 정렬-> justify-content */

}

/* 하단링크 a요소 */
.blink a {
    color: #747474;
    font-size: 13px;
    margin: 0 5px;
}

/* 마지막 li만 두껍게! */
.blink li:last-child a {
    font-weight: bold;
}