@charset "utf-8";
/* VOGUE PJ 공통 기능 디자인 - common.css */
/* 
    공통기능: 상단영역(로고, 메뉴, GNB)
            하단영역(하단로고, 회사정보)
*/

/* 공사중 외곽선 */
body * {
    outline: 4px dotted rgb(182, 182, 182);
}

/* 1-1. 상단메뉴 */
.tmenu{
    display: flex;
    /* 플렉스박스 */
    max-width: 970px;
    /* 최대970px이고 이것보다 작아지면 auto */
    height: 45px;
    margin: 0 auto;
}
/* 상단메뉴 하위 박스 등분할 */
.tmenu>div{
    flex: 1;
    /* flex 등분할시 높이값은 자동채우기됨!
    height:100% 를 안해도 됨! */
}

/* 1-1-1. sns박스 */
.sns{
    
}