@charset "utf-8";
/* VOGUE PJ 공통 클래스, 웹폰트 - core.css */

/* 공통 class */

/* 속박스 */
.ibx{
    max-width: 1300px;
    margin: 0 auto;
    /* 1300px보다 크면 중앙정렬
    작으면 auto로 width를 유지함! */
    outline: 3px dotted blue;
}