@charset "utf-8";
/* VOGUE PJ 메인 CSS - main.css */

/* 외부CSS 합치기 */
@import url(reset.css);
@import url(core.css);

/* 1. 상단영역 */
.top{
    height: 206px;
}
/* 2. 메인영역 */
.cont>div{
    outline: 2px dashed red;
}
/* 파트타입1 - 이미지1개 */
.pt1{
    /* height: 724px; */
}
/* 파트타입2 - 이미지3개 */
.pt2{
    height: 650px;
}
/* 3. 하단영역 */
.info{
    height: 285px;
}