<!doctype html>
<html>

<head>
  <title>플랩풋볼: 소셜 축구, 풋살 용병 모임</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- fontisto sns아이콘 -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fontisto@v3.0.4/css/fontisto/fontisto.min.css">
  <link rel="shortcut icon" href="./imgs/PlabLogo.png" type="image/x-icon">
  <link rel="stylesheet" href="./CSS/swiper-bundle.min.css">
  <link rel="stylesheet" href="./CSS/match.css">
  <link rel="stylesheet" href="./CSS/media2.css">
  <!-- <link rel="stylesheet" href="./CSS/core.css"> -->
  <!-- <script src="./JS/main.js"> -->
    
  <!-- Vue Js -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  <!-- 엑시오스 라이브러리 스텐드얼론 버전 가져오기(제이슨불러오기) -->
  <script src="https://cdn.jsdelivr.net/npm/axios@0.17.1/dist/axios.min.js"></script>

  <!-- 제이쿼리 라이브러리 + 제이쿼리 UI -->
  <script src="./JS/jquery-3.6.0.min.js"></script>
  <script src="./JS/jquery-ui.min.js"></script>
  <script src="./JS/swiper-bundle.min.js"></script>
  <script src="./JS/linksys.js"></script>
  <script src="./JS/match copy.js"></script>

</head>

<body>
  <!-- 상단영역 -->
  <div id="top">
    <header class="top">
      <div class="fl tmenu">
        <div>
          <svg class="logo">
            <use xlink:href="#logo"></use>
          </svg>
        </div>
        <div></div>
        <div>
          <div class="sns">
            <a href="#" class="fi fi-person">
              <span class="ir">
                로그인
              </span>
            </a>
            <a href="#" class="fi fi-instagram">
              <span class="ir">
                인스타그램
              </span>
            </a>
            <a href="#" class="fi fi-facebook">
              <span class="ir">
                페이스북
              </span>
            </a>
          </div>
        </div>
         <!-- 모바일용 햄버거버튼 -->
         <a href="#" class="mobtn hbtn fi fi-nav-icon">
          <span class="ir">GNB button</span>
      </a>
      </div>

    </header>
  </div>
  <div class="mobx">
    <!-- 로그인 페이지 top 영역 -->
    <header class="ctop">
      <!-- 1-1.서브타이틀 -->
      <h2 class="stit">풋살하고 싶을 땐
      </h2>
      <h2 class="stit">플랩풋볼
      </h2>
    </header>
    <div id="login">
      <form action="process.php" method="post" class="logF">
        <!-- 아이디박스 -->
        <div class="minput">
            <label for="mid">아이디</label>
            <input type="text" name="mid" id="mid" maxlength="10" placeholder="아이디를 입력해 주세요">
        </div>
        <!-- 비밀번호박스 -->
        <div class="minput mi2">
            <label for="mid">비밀번호</label>
            <input type="password" name="mpw" id="mpw" maxlength="10" placeholder="비밀번호를 입력해 주세요">
        </div>
        <!-- 버튼영역 -->
        <div class="btnbx">
            <input type="submit" id="sbtn" value="LOGIN">
        </div>
        <!-- 기타링크 -->
        <div class="addbx">
            <span>
                <input type="checkbox" id="chkbx" name="chkbx">
                <label for="chkbx">아이디저장</label>
            </span>
            <a href="#">아이디찾기</a> <i>|</i> <br class="brk">
            <a href="#">비밀번호찾기</a> |
            <a href="#">회원가입</a>
        </div>
        </form>
    </div>
    <div class="mosns">
      <a href="#" class="fi fi-instagram">
        <span class="ir">
          인스타그램
        </span>
      </a>
      <a href="#" class="fi fi-facebook">
        <span class="ir">
          페이스북
        </span>
      </a>
    </div>
  </div>
  <!-- 메인영역 -->
  <div id="cont">
    <main class="cont">
      <div class="swiper mySwiper disel">
        <div class="swiper-wrapper">
          <div class="swiper-slide"><img src="imgs/new_11v11_banner_pc.png" alt="배너이미지"></div>
          <div class="swiper-slide"><img src="imgs/new_8v8_banner_pc.png" alt="배너이미지"></div>
          <div class="swiper-slide"><img src="imgs/new_free_banner_pc.png" alt="배너이미지"></div>
          <div class="swiper-slide"><img src="imgs/new_mario_banner_pc.png" alt="배너이미지"></div>
          <div class="swiper-slide"><img src="imgs/new_mtl_banner_pc.png" alt="배너이미지"></div>
          <div class="swiper-slide"><img src="imgs/new_night_banner_pc.png" alt="배너이미지"></div>
          <div class="swiper-slide"><img src="imgs/new_quick_banner_pc.png" alt="배너이미지"></div>
          <div class="swiper-slide"><img src="imgs/고양_일산_풋살장_new_banner_pc.png" alt="배너이미지"></div>
          <div class="swiper-slide"><img src="imgs/김포_PnC_풋살파크new_banner_pc.png" alt="배너이미지"></div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
      </div>
      <div class="daybx">
        <ul class="week fl">
          <li>
            <p></p>
            <span></span>
          </li>
          <li>
            <p></p>
            <span></span>
          </li>
          <li>
            <p></p>
            <span></span>
          </li>
          <li>
            <p></p>
            <span></span>
          </li>
          <li>
            <p></p>
            <span></span>
          </li>
          <li>
            <p></p>
            <span></span>
          </li>
          <li>
            <p></p>
            <span></span>
          </li>
        </ul>
      </div>
      <div class="selbx">
        <ul class="select fl">
          <li>
            <a href="#">지역</a>
          </li>
          <li>
            <a href="#">혜택</a>
          </li>
          <li>
            <a href="#">마감 가리기</a>
          </li>
          <li>
            <a href="#">성별</a>
          </li>
          <li>
            <a href="#">레벨</a>
          </li>
        </ul>
      </div>
      <div id="matchbx">
        <ul class="fl match" v-for="(v,n) in vals.data" v-if="n===days">
          <li class="fl" v-for="(v2,i) in v">
            <span>
              <b>{{v2.시간}}</b>
            </span>
            <span>
              <p>{{v2.구장}}</p>
              <small>{{v2.레벨}}</small>
            </span>
            <span class="sigbtn">신청하기</span>
          </li>
        </ul>
      </div>
      <div class="drkb"></div>
      <div class="slideMenu region">
        <div class="SMhead">
          <h2>지역</h2>
        </div>
        <div class="SMbody">
          <ul class="fl">
            <li>
              <a href="#">내 지역</a>
              <span>편집하기</span>
            </li>
            <li>
              <a href="#">서울</a>
            </li>
            <li>
              <a href="#">경기/강원</a>
            </li>
            <li>
              <a href="#">인천</a>
            </li>
            <li>
              <a href="#">대전/세종/충청</a>
            </li>
            <li>
              <a href="#">대구/경북</a>
            </li>
            <li>
              <a href="#">부산/울산/경남</a>
            </li>
            <li>
              <a href="#">광주/전라</a>
            </li>
            <li>
              <a href="#">제주</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="slideMenu gender">
        <div class="SMhead">
          <h2>성별</h2>
        </div>
        <div class="SMbody">
          <ul class="fl">
            <li>
              <span>
                <input type="checkbox" id="chkbx" name="chkbx">
                <label for="chkbx">남자</label>
              </span>
            </li>
            <li>
              <span>
                <input type="checkbox" id="chkbx" name="chkbx">
                <label for="chkbx">여자</label>
              </span>
            </li>
            <li>
              <span>
                <input type="checkbox" id="chkbx" name="chkbx">
                <label for="chkbx">남녀 모두</label>
              </span>
            </li>
          </ul>
          <span>적용하기</span>
        </div>
      </div>
      <div class="slideMenu level">
        <div class="SMhead">
          <h2>레벨</h2>
        </div>
        <div class="SMbody">
          <ul class="fl">
            <li>
              <span>
                <input type="checkbox" id="chkbx" name="chkbx">
                <label for="chkbx">비기너3 이하</label>
              </span>
            </li>
            <li>
              <span>
                <input type="checkbox" id="chkbx" name="chkbx">
                <label for="chkbx">아마추어2 이상</label>
              </span>
            </li>
            <li>
              <span>
                <input type="checkbox" id="chkbx" name="chkbx">
                <label for="chkbx">일반</label>
              </span>
            </li>
          </ul>
          <span>적용하기</span>
        </div>
      </div>
    </main>
  </div>

  <!-- 하단영역 -->
  <div id="info">
    <footer class="info">
      <h2>
        <a>plabfootball.com</a>
      </h2>
      <p>풋살하고 싶을 땐, 플랩풋볼</p>
      <ul class="fl">
        <li>
          <a href="#">이용약관</a>
        </li>
        <li>
          <a href="#">개인정보처리방침</a>
        </li>
        <li>
          <a href="#">사업자정보확인</a>
        </li>
      </ul>
      <address>
        <span>플랩풋볼 | 서울특별시 마포구 잔다리로31 제우피스빌딩 2층 | 대표 메일 contact@plabfootball.com | 마케팅 제안 team@plabfootball.com | 02-704-7983</span>
        <span>주식회사 마이플레이컴퍼니 | 사업자번호 650-81-00575 | 대표 강동규 | 통신판매업 신고         2020-서울마포-4411</span>
        <span>Copyright PLAB All rights reserved.</span>
      </address>
    </footer>
  </div>
  <div style="display:none;">
    <svg>
      <symbol id="logo" viewBox="0 0 54 22" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M2.29517 8.3134H23.3255L22.7657 11.1346H1.73701L2.29517 8.3134ZM4.08462 0.83252H24.4689L23.9107 3.65371H21.6477L21.4177 4.8495H23.6739L23.1395 7.54722H2.75352L3.28799 4.8495H5.66942L5.90452 3.65371H3.52648L4.08462 0.83252ZM1.8977 11.8703H22.2837L21.0997 17.8814H4.64108L4.47194 18.7085H20.9322L20.3859 21.4688H0L1.18395 15.4577H17.6426L17.8016 14.6611H1.34124L1.8977 11.8703ZM10.1414 4.8495H16.9322L17.169 3.65371H10.3917L10.1414 4.8495Z" />
        <path
          d="M26.578 0.832561H38.2754L36.9325 7.60814H29.1658L28.9476 8.71261H36.7177L36.1595 11.5338H24.4621L25.8051 4.75652H33.5751L33.7883 3.68419H26.008L26.578 0.832561ZM24.523 12.7668H28.4486L28.2237 13.9017H40.667L40.892 12.7668H44.8176L43.0924 21.4756H22.8063L24.523 12.7668ZM27.3307 18.4092H39.7655L40.0564 16.9377H27.6233L27.3307 18.4092ZM42.9605 3.98695L40.6264 11.5406H37.0391L39.2192 0.531494H42.8066L41.4535 7.33753L43.6404 0.531494H47.2278L45.0476 11.5406H41.4586L42.9605 3.98695Z" />
        <path d="M49.2472 1.06082H48.5944V0.524658H50.5039V1.06082H49.8544V3.54542H49.2472V1.06082Z" />
        <path
          d="M50.8152 3.54542V0.524658H51.6355L52.4118 2.69298L53.1746 0.524658H54V3.54542H53.4368L53.452 1.12509L52.6063 3.54542H52.2055L51.3598 1.12509L51.3767 3.54542H50.8152Z" />
      </symbol>

      <symbol id="rArrow" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 414.287 414.287"
        style="enable-background:new 0 0 414.287 414.287;" xml:space="preserve">
        <g>
          <path d="M412.398,202.993L288.535,95.289c-1.502-1.305-3.591-1.699-5.463-1.027c-1.873,0.67-3.237,2.3-3.568,4.261l-8.938,52.887
		H40.554c-2.684,0-4.976,1.938-5.423,4.583l-3.054,18.067c-0.27,1.597,0.177,3.23,1.223,4.467c1.045,1.237,2.581,1.95,4.2,1.95
		h103.982l-2.208,15H8.134c-2.684,0-4.976,1.938-5.423,4.583l-2.634,15.584c-0.27,1.597,0.177,3.229,1.223,4.467
		c1.045,1.236,2.581,1.949,4.2,1.949h159.196l-2.206,15H63.505c-2.684,0-4.976,1.938-5.423,4.583l-2.505,14.817
		c-0.271,1.597,0.177,3.229,1.222,4.467c1.046,1.237,2.582,1.95,4.201,1.95h190.721l-8.628,51.053
		c-0.366,2.168,0.593,4.346,2.439,5.538c0.908,0.586,1.945,0.879,2.982,0.879c1.07,0,2.141-0.312,3.067-0.935l160.272-107.704
		c1.421-0.955,2.316-2.518,2.422-4.225C414.385,205.776,413.689,204.116,412.398,202.993z" />
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
      </symbol>

      <symbol id="lArrow" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
        <metadata> Svg Vector Icons : http://www.onlinewebfonts.com/icon </metadata>
        <g>
          <path
            d="M380.5,100.5l-350,350c-27.3,27.3-27.3,71.6,0,99l350,350c27.3,27.3,71.6,27.3,99,0c27.3-27.3,27.3-71.6,0-99L249,570h671c38.7,0,70-31.3,70-70c0-38.7-31.3-70-70-70H249l230.5-230.5c13.7-13.7,20.5-31.6,20.5-49.5c0-17.9-6.8-35.8-20.5-49.5C452.1,73.2,407.8,73.2,380.5,100.5z" />
        </g>
      </symbol>
    </svg>
  </div>
</body>

</html>