@charset "utf-8";
/* VOGUE PJ 로그인 CSS - login.css */

/* 외부CSS 합치기 */
@import url(reset.css);
@import url(core.css);
@import url(common.css);

/* 서브 전체박스 */
.scont{
    margin-bottom: 100px;
}

/* 1. 서브타이틀 */
.stit{
    font-family: 'Pistilli', sans-serif;
    font-size: 50px;
    padding: 40px 0 20px;
    /* 위40px 양쪽0 아래20px */
    text-align: center;
    font-weight: normal;
}
