@charset "utf-8";

html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}




ul {
	/*ul 기본설정*/
	padding: 0;
	margin: 0;
	list-style: none;
}

ul::after {
	content: "";
	display: block;
	clear: both;
}

#wrap {
	position: relative;
	width: 100%;
	height: 100%;
	max-width: 1920px;
	/*최대사이즈 설정*/
	min-width: 1024px;
	/*최소사이즈 설정*/
	/*height:auto;-->  설정하지 않으면 기본값이 auto임*/
	margin: 0 auto;
	/*중앙정렬*/
}

/*햄버거버튼*/
.hbtn {
	position: absolute;
	width: 80px;
	height: 80px;
	cursor: pointer;
	/*손가락*/
	display: none;

}

#msub {
	display: none;
}


#top {
	/*겉박스*/
	position: relative;
	width: 100%;
	height: 150px;
	background-color: #2b1511;
	z-index: 999;

}

#top>header {
	/*속박스*/
	position: relative;
	width: 1024px;
	height: 100%;
	margin: 0 auto;

}

#top>header>aside {
	/*로고부분 부모박스*/
	position: absolute;
	width: 100%;
	height: 95px;
	top: 0;
}

#top>header>aside>article:nth-child(2)>.mlogo {
	width: 100%;
	height: 100%;
	display: none;
}

a {
	display: block;
	/*a링크로 block요소를 감싸주기위한 설정*/
	text-decoration: none;
	color: #a6ce39;
	width: 100%;
	height: 100%;
}

#top>header>aside>article {
	/*로고부분 속박스들*/
	position: relative;
	width: 33%;
	height: 100%;
	float: left;

}

#top>header>aside>article:nth-child(2) {
	/*로고박스*/
	text-align: center;
	box-sizing: border-box;
	padding-top: 24px;
}


#snsicon {
	/*sns 로고 Sprites 기법사용*/
	position: relative;
	top: 20px;
}

#snsicon li {
	float: left;
	width: 54px;
	height: 54px;
	background: url(../images/sns_icon.png) no-repeat;
	list-style: none;
	/*transition:all 0.4s;*/
}

#snsicon li:first-child {
	/*트위터*/
	background-position: 0px 0px;
	/*left값, top값*/
}

#snsicon li:first-child:hover {
	/*트위터 오버시*/
	background-position: 0px -54px;
	/*left값, top값*/
}

#snsicon li:nth-child(2) {
	/*인스타그램*/
	background-position: -54px 0px;
}

#snsicon li:nth-child(2):hover {
	/*인스타그램 오버시*/
	background-position: -54px -54px;
}

#snsicon li:nth-child(3) {
	/*페이스북*/
	background-position: -108px 0px;
	;
}

#snsicon li:nth-child(3):hover {
	/*페이스북 오버시*/
	background-position: -108px -54px;
}

#snsicon li:last-child {
	/*블로그*/
	background-position: -164px 0px;
}

#snsicon li:last-child:hover {
	/*블로그 오버시*/
	background-position: -164px -54px;
}

/*
 IR 기법 -> Image Replacement(이미지설명 대체텍스트 구현방법)
*/
#snsicon span {
	display: none;
	/*IR기법*/
}


/*헤더 오른쪽 부분*/

#headerR {
	position: relative;
	top: 37.5px;
	width: 333px;
	height: 20px;
	;
	font: bold 0.875em "나눔고딕";
	color: #425d00;


}

#headerR>li {
	float: left;
	width: 65px;
	height: 20px;
	text-align: center;
}


/*서브메뉴 디자인*/
#top>header>nav {
	position: absolute;
	width: 100%;
	height: 55px;
	bottom: 0;
}

#top>header>nav>#menu {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 1024px;
	height: 100%;
	border-top: 2px solid #425d00;
	font: bold 1.05em/50px "나눔고딕";
}

#menu>li {
	position: relative;
	/*하위메뉴 부모*/
	float: left;
	width: 20%;
	height: 50px;
	text-align: center;
	color: #ef4837;
}


#menu>li:hover>a {
	/*메뉴에 마우스 오버시*/
	color: #ef4837;
}

#menu>li>ul>li:hover>a {
	/*메뉴에 마우스 오버시*/
	color: #fff;
	background-color: #2b1511;
}





/*하위메뉴 디자인*/

#menu .sub {
	position: relative;
	width: 200px;
	height: 200px;
	font: bold 0.8em/25px "나눔고딕";
	text-align: left;
	overflow: hidden;
	z-index: 999;
	text-align: center;
	margin: 0 auto;
}

#menu>li>ul>li {
	height: 25px;

}



/*서브메뉴 디자인*/
#submenu {
	/*박스*/
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 200px;
	/*140px;*/
	background-color: #ef4837;
	border-bottom: 2px solid #425d00;
	overflow: hidden;
	/*넘치는 자식요소 감추기*/
	/*transition:all 0.4s ease-in-out;*/
	/*애니메이션*/
	z-index: 998;
}

#submenu div {
	/*배경이미지용 div 중앙정렬*/
	width: 1024px;
	height: 200px;
	margin: 0 auto;

}



/**********메인배너****************/

#banner {
	/*배너 영역*/
	position: relative;
	top: 0px;
	width: 100%;
	height: 640px;
}

.main {
	position: relative;
	width: 1024px;
	height: 640px;
	margin: 0 auto;
	background-image: url(../images/sub_images/images/sub_main_03.png);
}

#snav {
	position: relative;
	width: 100%;
	height: 175px;
}


.snav1 {
	position: relative;
	width: 1024px;
	height: 175px;
	margin: 0 auto;

}

.snav1>ul {
	position: absolute;
	top: 26px;
	width: 100%;
	height: 122px;

}

.snav1>ul>li {
	position: relative;
	left: 16px;
	width: 246px;
	height: 60px;
	float: left;
	margin: 1px;
	background-color: #d4d2ce;
	font: bold 20px/60px "나눔고딕";
	text-align: center;
	color: #000;
}

.snav1>ul>li:first-child {
	background-color: #496800;
}

.snav1>ul>li:first-child a {
	color: #fff;
}

#smenu {
	position: relative;
	width: 100%;
	height: 900px;
	margin: 0 auto;


}

#scont {
	position: relative;
	width: 1024px;
	height: 900px;
	margin: 0 auto;
}

.smenu1 {
	position: absolute;
	width: 1024px;
	height: 900px;
	margin: 0 auto;
	background-color: #fff;

}

.smenu1:first-child {
	z-index: 999;
}

.sc {
	position: relative;
	top: 0px;
	width: 100%;
	height: 355px;

}

.sc1 {
	position: absolute;
	width: 50%;
	height: 100%;

}

.sc2 {
	position: absolute;
	right: 0px;
	width: 50%;
	height: 100%;

}

.sc2>ul {
	position: relative;
	top: 20px;
	width: 100%;
	height: 335px;

}

.sc2>ul>li {
	position: relative;
	width: 100%;
	height: 30px;
	font: bold 30px/30px "나눔고딕";
	left: 20px;

}

.sc2>ul>li:nth-child(1) {
	top: 5px;
	height: 60px;
	font: bold 40px/30px "나눔고딕";
	color: #b53000;


}

.sc2>ul>li:nth-child(2) {
	height: 60px;
	top: 30px;
	font: 20px/30px "나눔고딕";
	color: #000;


}





.sc2>ul>li:nth-child(3) {

	height: 60px;
	top: 50px;
	font: 20px/30px "나눔고딕";
	color: #000;


}

.sc2>ul>li:nth-child(4) {

	height: 60px;
	top: 70px;
	font: 20px/30px "나눔고딕";
	color: #D22828;


}

.sc2>ul>li>span {
	font: bold 18px/30px "돋움", "맑은 고딕";
	color: #000;

}



.sel {
	position: relative;
	width: 100%;
	height: 50px;
	top: 0px;
	left: 0px;
}


.sel>p {
	font: bold 30px/50px "나눔고딕";
}

#sm {
	position: relative;
	width: 100%;
	height: 500px;


}

.smc {
	position: relative;
	width: 300px;
	height: 150px;
	float: left;
	margin: 20px;

}

.smc1 {
	position: relative;
	width: 50%;
	height: 100%;
	float: left;

}


.smc1 img {
	width: 100%;
	height: 100%;
}

.smc1_2 {
	position: relative;
	top: 25px;
	width: 121px;
	height: 100px;
	margin: 0 auto;
	border: 2px solid #ccc;



}

.smc1_2>img {
	width: 100%;
	height: 100%;

}

.smc1_2>ul {
	width: 100%;
	height: 100%;


}

.smc1_2>ul li {
	position: absolute;
	top: 25px;
	width: 100%;
	height: 20px;
	font: bold 16px/20px "나눔고딕";
	color: #C00;


}

.smc1_2>ul li span {
	width: 100%;
	font: bold 12px/20px "나눔고딕";
	color: #000;

}

.smc2 {
	position: absolute;
	right: 0px;
	width: 50%;
	height: 100%;


}

.smc2_1 {
	position: relative;
	top: 25px;
	width: 150px;
	height: 100px;
	margin: 0 auto;



}

.smc2_1>ul li {
	position: absolute;
	top: 25px;
	left: 10px;
	width: 100%;
	height: 20px;
	font: bold 16px/20px "나눔고딕";
	color: #C00;



}

.smc2_1>ul li span {
	width: 150px;
	font: bold 14px/20px "나눔고딕";
	color: #000;

}









footer {
	position: relative;
	width: 100%;
	height: 150px;
	background-color: #ccc;

}

footer>ul {
	position: relative;
	top: 10%;
	width: 1024px;
	height: 140px;
	margin: 0 auto;


}

footer>ul>li {
	font: 0.75em/20px "돋움";
	text-align: center;
}



/* 태블릿 미디어 쿼리(최대1024px)*/
@media only screen and (max-width:1024px) {
	#wrap {
		min-width: 100%;
	}

	#banner {
		width: 1024px;
		height: 450px;
	}

	#banner1 {
		height: 450px;
	}

	#cont {
		width: 1024px;
		height: 450px;
	}

	#cont>.b1 {
		width: 1024px;
		height: 450px;
	}

	#cont>.b1 img {
		width: 1024px;
		height: 450px;
	}

	#banner>article {
		position: relative;
		width: 1024px;
		height: 450px;
	}

	#bullet {
		display: none;
	}

	/*좌우 버튼 디자인*/
	.bbtn {
		position: absolute;
		width: 40px;
		height: 40px;
		top: 50%;
		text-align: center;
		z-index: 10;
		opacity: 0.7;
	}

	.btnL {
		left: 3%;
	}


	.btnR {
		right: 3%;
	}

	.bbtn img {
		width: 100%;
		height: 100%;
	}

	.buttb {
		position: absolute;
		width: 200px;
		height: 30px;
		bottom: 50px;
		left: 130px;
		border: 2px solid #cf5632;
		border-radius: 10px;
		background: #fff;
	}

	.buttb>p {
		position: absolute;
		width: 200px;
		height: 30px;
		text-align: center;
		font: bold 1em/30px "나눔고딕";
		margin: 0;
		padding: 0;
		color: #cf5632;
	}


	.buttb2 {
		position: absolute;
		width: 200px;
		height: 30px;
		bottom: 100px;
		left: 180px;
		border: 2px solid #528daf;
		border-radius: 10px;
		background: #fff;
	}

	.buttb2>p {
		text-align: center;
		font: bold 1em/30px "나눔고딕";
		margin: 0;
		padding: 0;
		color: #528daf;

	}

	.buttb3 {
		position: absolute;
		width: 200px;
		height: 30px;
		bottom: 130px;
		left: 75px;
		border: 2px solid #ff5353;
		border-radius: 10px;
		background: #fff;
	}

	.buttb3>p {
		text-align: center;
		font: bold 1em/30px "나눔고딕";
		margin: 0;
		padding: 0;
		color: #ff5353;

	}

	.buttb4 {
		position: absolute;
		width: 200px;
		height: 30px;
		bottom: 160px;
		left: 170px;
		border: 2px solid #083d62;
		border-radius: 10px;
		background: #fff;
	}

	.buttb4>p {
		text-align: center;
		font: bold 1em/30px "나눔고딕";
		margin: 0;
		padding: 0;
		color: #083d62;

	}

	#cont>article>div {
		width: 47.5% !important;
		/*!important 우선실행*/
		height: 180px;
	}

}

/*모바일 미디어쿼리 (최대 720px)*/

@media only screen and (max-width:720px) {

	body {
		font-size: 14px;
	}

	/**********************상단 헤더 부분 디자인************************/

	#top {
		height: 100%;
	}


	#top>header {
		width: 100%;
		height: 69px;


	}

	#top>header>aside {
		position: relative;
		width: 100%;
		height: 69px;


	}

	#top>header>aside>article {
		float: left;
	}

	#top>header>aside>article:nth-child(1) {
		position: relative;
		width: 33.3%;
		left: auto;
		/*설정해제*/
		display: none;

	}


	/*로고 중앙*/
	#top>header>aside>article:nth-child(2) {
		position: relative;
		width: 20%;
	}

	#top>header>aside>article:nth-child(2)>img:nth-child(1) {
		display: none;
	}

	#top>header>aside>article:nth-child(2)>img:nth-child(2) {
		width: 80px;
		height: 100%;
		display: inline;
	}

	#top>header>aside>article:nth-child(2)>.mlogo {
		position: absolute;
		left: 10px;
		width: 60px;
		height: 100%;
		display: inline;
	}

	#top>header>aside>article:nth-child(2)>.mlogo>img {
		width: 100%;
		height: 100%
	}



	/********햄버거버튼*********/
	#top>header>aside>article:nth-child(3) {
		position: relative;
		width: 80%;
	}

	#headerR {
		display: none;
	}

	#top>header>aside>article:nth-child(3)>ul {
		position: absolute;
		right: 0px;
		/*width:50%;*/
		height: 100%;


	}

	.hbtn {
		position: relative;
		width: 50px;
		height: 50px;
		top: 10px;
		cursor: pointer;
		/*손가락*/
		display: inline;
		text-align: center;
		float: left;
		margin-left: 15px;

	}

	.hbtn img {
		width: 100%;
		height: 100%;
	}


	/*메뉴 왼쪽 고정*/

	#msub {
		position: fixed;
		top: 0px;
		right: -200px;
		width: 200px;
		height: 500px;
		z-index: 999;
		background-color: #fff;
		display: inline;

	}

	/*모바일 서브메뉴! 디자인*/

	ul#mnavi {
		position: absolute;
		top: 50px;
		width: 200px;
		text-indent: 10px;
	}

	#CL {
		position: absolute;
		width: 33px;
		height: 33px;
		top: 10px;
		left: 0px;
	}

	ul#mnavi,
	ul#navi ul {
		list-style: none;
		margin: 0px;
		padding: 0px;
	}

	li.mgroup {
		margin-bottom: 2px;
	}

	div.mtitle {
		height: 35px;
		line-height: 3;
		background: #496800;
		cursor: pointer;
		text-align: center;
		font: bold 1em/35px "맑은 고딕", "새굴림", "바탕", "나눔고딕";
		color: #fff;
	}

	ul.msub1 li {
		height: 35px;
		margin-bottom: 2px;
		line-height: 3;
		background: #FDF6DD;
		cursor: pointer;
		text-align: center;
		font: bold 0.75em/35px "맑은 고딕", "새굴림", "바탕", "나눔고딕";
	}

	ul.m1sub li a {
		text-decoration: none;
		display: block;
		width: 100%;
		height: 100%;
		color: #000;
	}

	ul.msub1 li:hover {
		background: #9AB92E;
	}




	#menu {
		display: none;
	}

	/**********************배너부분************************/
	/*배너조정*/
	#banner {
		width: 100%;
		height: 300px;
	}

	#banner1 {
		width: 100%;
		height: 300px;
	}

	#cont {
		width: 100%;
		height: 300px;
	}

	#cont>.b1 {
		width: 100%;
		height: 300px;
	}

	#cont>.b1 img {
		width: 100%;
		height: 300px;
	}

	#banner>article {
		position: relative;
		width: 100%;
		height: 300px;
	}

	#bullet {
		display: none;
	}

	/*좌우 버튼 디자인*/
	.bbtn {
		position: absolute;
		width: 30px;
		height: 30px;
		top: 50%;
		text-align: center;
		z-index: 10;
		opacity: 0.7;
	}






	.btnL {
		left: 3%;
	}


	.btnR {
		right: 3%;
	}

	.bbtn img {
		width: 100%;
		height: 100%;
	}

	.buttb {
		position: absolute;
		width: 30%;
		height: 30px;
		bottom: 10%;
		left: 8%;
		border: 2px solid #cf5632;
		border-radius: 10px;
		background: #fff;
	}

	.buttb>p {
		position: absolute;
		width: 100%;
		height: 30px;
		text-align: center;
		margin: 0;
		padding: 0;
		color: #cf5632;
	}


	.buttb2 {
		position: absolute;
		width: 30%;
		height: 30px;
		bottom: 25%;
		left: 13%;
		border: 2px solid #528daf;
		border-radius: 10px;
		background: #fff;
	}

	.buttb2>p {
		text-align: center;
		margin: 0;
		padding: 0;
		color: #528daf;

	}

	.buttb3 {
		position: absolute;
		width: 30%;
		height: 30px;
		bottom: 25%;
		left: 10%;
		border: 2px solid #ff5353;
		border-radius: 10px;
		background: #fff;
	}

	.buttb3>p {
		text-align: center;
		margin: 0;
		padding: 0;
		color: #ff5353;

	}

	.buttb4 {
		position: absolute;
		width: 30%;
		height: 30px;
		bottom: 33%;
		left: 13%;
		border: 2px solid #083d62;
		border-radius: 10px;
		background: #fff;
	}

	.buttb4>p {
		text-align: center;
		margin: 0;
		padding: 0;
		color: #083d62;

	}








	/*********footer**************/

	footer {
		position: relative;
		width: 100%;

	}

	footer>ul {
		width: 100%;

	}



}/* 모바일 미디어쿼리 */