@charset "utf-8";
/* 페이지 공통 모듈 디자인 */

/************************ 상단 영역 *************************/

/* 상단 메뉴 드래그 up 하면 위에서 내려오고 드래그 down 하면 사라지고

우측 배너가 상단메뉴 라인에 따라서 올라갔다 내려갔다 할 수 있을까? */

#wrap {
    width: 100%;
    display: flex;
    justify-content: center;
}

.topnavi {
    display: flex;
    width: max(50%, 1440px);
    ;
}

#top {
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100%;
    height: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: height .3s;
    background-color: rgb(251, 248, 239);
}

/* 상단 로고 */
.logo img {
    padding-top: 2rem;
    vertical-align: bottom;
    width: 20rem;
    height: 7rem;
}

/* 언어별 아이콘 */
.lang {
    /* 빈공간 모두 채움 */
    padding-top: 6rem;
    flex-grow: 1;

}

.lang li {
    float: left;
    padding-left: 1.2rem;
}

.lang button {
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    border: 0;
    background-color: transparent;
    color: var(--font-color-navy);
}

.lang button:hover {
    opacity: .5;
}

/* 상단 GNB */

.topmenu {
    box-sizing: border-box;
}

.topMenu>ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 12rem;
}

.topMenu>ul>li {
    padding: 0 5rem 0 5rem;

}

/* 맨 오른쪽 메뉴 우측 마진 x */
.topMenu>ul>li:last-child {
    padding: 0 0 0 5rem;
}

.topMenu>ul>li>a {
    display: inline-block;
    font-size: 2rem;
    height: 12rem;
    line-height: 12rem;
    text-decoration: none;
    font-family: var(--font-family-notoSan);
    color: var(--font-color-navy);
    border-bottom: 4px solid transparent;
    box-sizing: border-box;
}

.topMenu>ul>li:hover>a {
    border-bottom: 4px solid var(--font-color-navy);
}


/* 서브 메뉴 */
.smenu {
    position: absolute;
    /* 서브메뉴숨기기 */
    z-index: 6;
    height: 0;
    overflow: hidden;
    /* 트랜지션 선언_밑에 오버 시 height값 조정 */
    transition: height .3s ease-out;
}

/* 서브메뉴 ol 세팅 */
.smenu>ol {
    margin-top: 3rem;
}

.smenu>ol>li {
    margin-top: 2rem;
}

/* 서브메뉴 a */
.smenu a {
    font-family: var(--font-family-notoSan);
    color: var(--font-color-navy);
    font-size: 1.7rem;
    line-height: 1.7rem;
    text-decoration: none;
}

.smenu a:hover {
    text-decoration: underline;
}

/* 서브메뉴 BG */
.topMenu>ul>li.sm::after {
    content: '';
    /* div처럼 사용 */
    display: block;
    position: absolute;
    z-index: 5;
    top: 120px;
    left: 0;
    height: 0px;
    width: 100%;
    background: url(../img/subMenuBg.jpg);
    /* 트랜지션 선언_밑에 오버 시 height값 조정 */
    transition: height .3s ease-out;
}


/* 상위 li에 마우스 오버 시 .smenu 보이기*/
.topMenu>ul>li.sm:hover::after,
.topMenu>ul>li:hover .smenu {
    height: 20rem;
}

/* 우측 고정 배너 */
.fixedBan {
    position: fixed;
    z-index: 3;
    top: 0;
    margin-top: 14rem;
    right: 1vw;
    width: 12rem;
    height: 12rem;
    background: url(../img/fixNaviBan.png) no-repeat 0 0 / 100% 95%;
    transition: height .3s;
    cursor: pointer;
}

.fixedBan a {
    text-decoration: none;
}

.topBtn {
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--font-color-navy);
}

/* 우측 고정 배너 텍스트 */
.fixScr {
    color: #fff;
    font-size: 1.3rem;
    font-weight: bold;
    text-decoration: none;
    padding-top: 8.7rem;
    text-align: center;
}

/* 상단 메뉴 스크롤 액션 */
#top.close {
    height: 0;
    overflow: hidden;
}

.fixBanTop {
    top: -10rem;
}


/* 모바일용 햄버거 버튼 */
.ham {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 40px;
    transform: scaleX(1.5);
    
    /* 버튼 기본 디자인 없애기 */
    background-color: transparent;
    border: none;
    /* 모바일 아닐때 안보임 */
    display: none;
}

/* 버튼 모양 변경 위해 가상 요소로 내용 넣기 */
.ham::before {
    content: '≡';
    color: var(--font-color-navy);

}

/* 크롬 브라우저 버튼 포커스 아웃라인 제거 */
.ham:focus {
    outline: none;
}


/************************ 하단 영역 *************************/

/* 하단 전체 영억 */
#bottom {
    padding-bottom: 2vh;
    background-color: #fff;
}

/* 하단 로고 // 관련 링크 */
.btMenu {
    height: 30rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
}

/* 하단로고 */
.btlogo img {
    vertical-align: bottom;
    width: 22rem;
}


/* 하단 sns 아이콘 */
.snsIcon {
    display: flex;
    justify-content: space-between;
    width: 7rem;
    padding: 1.5rem 0 1.5rem 0;
}

/* sns 아이콘 */
.fbIcon {
    width: 3.2rem;
    height: 3.2rem;
    background: url(../img/sns_icon.png) no-repeat 0 0/200% 200%;
}

.fbIcon:hover {
    width: 3.2rem;
    height: 3.2rem;
    background: url(../img/sns_icon.png) no-repeat 0 -3.2rem/200% 200%;
}

.istaIcon {
    width: 3.2rem;
    height: 3.2rem;
    background: url(../img/sns_icon.png) no-repeat -3.2rem 0/200% 200%;
}

.istaIcon:hover {
    width: 3.2rem;
    height: 3.2rem;
    background: url(../img/sns_icon.png) no-repeat -3.2rem -3.2rem/200% 200%;
}


/* 관련 링크 */
.btLink {
    display: flex;
}

.btLink ul {
    width: max-content;
    padding: 0 5rem 0 5rem;
    box-sizing: border-box;

}

.btLink ul>li {
    display: flex;
}

.btLink ul>li a {
    font-size: 1.8rem;
    color: var(--font-color-navy);
    margin-bottom: 1.5rem;
    text-decoration: none;

}

.btLink ul>li:first-child a {
    font-weight: bold;
    color: var(--font-color-navy);
    font-size: 2rem;
    margin-bottom: 3rem;
}

.btLink ul>li a:hover {
    text-decoration: underline;
    color: #000;
}

/* 하단 관련사 링크 / 회사정보 영역 */
.btInfo {
    display: flex;
    /* 수직 정렬 */
    align-items: center;
    /* 가로 정렬 */
    justify-content: space-between;
    height: 10rem;
    box-sizing: border-box;
    padding-top: 1.5rem;
}

/* 관련사 링크 */
.familyLink {
    width: 30rem;
    height: 5rem;

}

.familyLink select {
    width: 100%;
    height: 100%;
    font-size: 2rem;
    border: none;
    border-bottom: 2px solid #222;
    background-color: transparent;
}

.familyLink option {
    font-size: 2rem;
}


/* 회사 정보 */
.info {
    color: #666;
    font-size: 1.3rem;
    margin-right: 10rem;
    font-style: unset;
}