@charset "utf-8";
/* 웹폰트 및 공통 클래스 */

/* 폰트
font-family: 'Lemon', cursive;
font-family: 'Noto Sans KR', sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Lemon&family=Noto+Sans+KR:wght@500&display=swap');

/*    
네이비 : #071F60
옐로우 : #ffe600
*/
:root {
    /* 폰트 컬러 전역 변수 선언 */
    --font-color-navy: #071F60;
    --font-color-yellow: #ffe600;
    --font-family-lemon: 'Lemon', cursive;
    --font-family-notoSan: 'Noto Sans KR', sans-serif;
}

/************************** 공통 css **************************/

/* 대체 텍스트 */
.ir {
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
}

/* a 태그 확장 */
.a_ex {
    display: block;
    width: 100%;
    height: 100%;
}

/* 숨기기 */
.hidden {
    display: none;
}


/* 상단, 하단 크기 // 중앙 정렬 */

.btMenu,
.btInfo {
    margin: 0 auto;
    max-width: 144rem;
}