@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

/* font-family: 'Rock Salt', cursive; */

html {    
    white-space: nowrap;
}

.scbar::-webkit-scrollbar {
    /* 전체 스크롤바 크기변경 */
    width: 0px;
}

body * {
    /* 토마토 */
    /* outline: 3px dotted tomato; */

    /* 드래그 하지마!! */
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

html,
body {
    /* ㅇㅇ */
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}

a,h1,h2,h3,h4,h5,ol,ul {
    /* 텍스트 공통 */
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

a {
    display: block;
}

.ff3 {
    /* 폰트3  */
    font-family: 'Rock Salt';
    font-weight: normal;
}

.fbx {
    /* 플렉스 박스 */
    display: flex;
}

.lr {
    /* 좌우 패딩 */
    padding: 0 1.9vw;
}

.rbx {
    position: relative;;
}

.rbx::before {
    content: '';
    display: block;
} 
