@charset "utf-8";
@import url(common.css);
@import url(column.css);

/******************************** manu  ******************************* */

#top.on .nav :nth-child(1):hover {
    text-decoration: line-through tomato;
    filter: drop-shadow(2px 4px 6px black);
    transition: text-decoration .5s ease-in;
}

#top.on .nav :nth-child(2) {
    text-decoration: line-through tomato;
    filter: brightness(50%);
}

#top.on .nav :nth-child(3):hover {
    text-decoration: line-through tomato;
    transition: text-decoration .5s ease-in;
}

/********************************ibx  */

.tit {
    font-size: 2vw;
    text-align: center;
}

#cont {
    width: 100%;
    height: 100%;
    background: url(../img/letter/02-heavy-paper.png)
}

.idx {
    position: relative;
    left: 101px;
    width: 100%;
    height: 100%;
}

.photo {
    position: absolute;
    top: 15%;
    left: 2%;
    width: 30%;
    height: 36%;
    background: url(../img/idphoto.jpg) no-repeat center;
    background-size: 100% 100%;
}

.status {
    position: absolute;
    width: 55%;
    height: 70%;
    top: 15%;
    left: 35%;
    font-size: 1.5vw;
}

.color1 {
    color: #1d1d1b;
}