@charset "utf-8";


@import url(./core.css);
@import url(./reset.css);


@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&family=Black+Han+Sans&display=swap');

/* font-family: 'Black Han Sans', sans-serif;
   font-family: 'IBM Plex Sans KR', sans-serif;
*/



/* 800px 미디어쿼리 */
@media screen and (max-width:800px) {
  
  #top{
    background-color: white;
    height: 70px;
  }
  .logo{
    width: 70px;
    fill: black;
  }
  .sns a{
    color: black;
  }
  #bgvideo{
    position: static;
    height: 670px;
    object-fit: cover;
  }
  .GoDown{
    top: 600px;
  }
  .GoDown>ul>li>a{
    font-size: 18px;
  }
  .lArrow{
    top: 0.7%;
  }
  .Go{
    top: 300px;
    width: 25px;
  }
  .matbx {
    position: absolute;
    top: 120px;
    right: -100%;
    width: 100%;
    height: 550px;
  }
  .mlist{
    flex-direction: column;
  }
  .mlist h3{
    font-size: 4vw;
  }
  .mlist li{
    width: 100%;
    height: 30%;
  }
  .mlist li:first-child img{
    object-position: 0 -20px;
  }
  .mlist li:last-child img{
    object-position: 0 -55px;
  }
  .inImg {
    height: 48vw;
    }
  .inImg section {
    width: 67%;
      padding-top: 9.8%;
    }
  .inTit {
      width: 48%;
    margin: 6% auto 0;
    }
  .arrow {
    height: 4vw;
    margin: 10% auto 0;
  }
  #intro h2 {
    font-size: 6vw;
  }
  .boldDes>li {
      font-size: 3vw;
  }
  .lightDes>li {
    font-size: 2vw;
  }
  .howTo {
    width: 85%;
  }
  .txtbx{
    padding-top: 7%;
  }
  .txtbx h2 {
    font-size: 6.2vw;
  }
  .txtbx h2 strong {
    font-size: 6.6vw;
  } 
  .txtbx p {
    font-size: 2.4vw;
  }
  .apply {
    width: 33%;
  }
  .apply p {
  font-size: 2.5vw;
  }
  .manDes>ul>li>h3 {
    font-size: 2.5vw;
  } 
  .manDes>ul>li>span {
    font-size: 1.8vw;
  }
  .steps>ul>li {
    width: 11.8%;
    margin: 0 3%;
  }
}

@media screen and (max-width: 550px) {
  .sns{
    display: none;
  }
  .mobtn{
    display: block;
  }
  #bgvideo{
    height: 600px;
  }
  .matbx {
    top: 120px;
    height: 480px;
  }
  .lArrow{
    top: 25px;
    width: 22px;
 }
 .mlist h3 {
   font-size: 7vw;
   }
 .GoDown{
   top: 515px;
 }
 .GoDown>ul>li>a{
   font-size: 15px;
 }
 .inImg{
   height: 70vw;
 }
 .inImg section{
   width: 85%;
   padding-top: 12.2%;
 }
 .inTit {
   width: 65%;
   margin: 7% auto 0;
 }
 .arrow {
   height: 6vw;
   margin: 20% auto 0;
 }
 #intro h2 {
   font-size: 10vw;
     margin: 8% 0;
 }
 .boldDes>li {
   font-size: 3vw;
 }
 .lightDes>li {
   font-size: 2.7vw;
 }
 .howTo{
   width: 90%;
 }
 .txtbx{
   padding-top: 20%;
 }
 .txtbx h2 {
   font-size: 7.2vw;
 }
 .txtbx h2 strong {
   font-size: 8.6vw;
 }
 .txtbx p {
   font-size: 3.4vw;
 }
 .manImg {
   width: 100%;
   height: 300px;
   object-fit: cover;
   margin-top: 20px;
 }
 .apply{
   width: 50%;
 }
 .apply p{
   font-size: 3vw;
 }
 .manDes .fl {
   margin-left: 0;
 }
 .manDes>ul>li>h3 {
   font-size: 3vw;
 }
 .manDes>ul>li {
   margin: 0px 1%;
 }
 .steps {
   padding: 0%;
   margin: 8% 0;
 }
 .steps div:first-child {
 padding-bottom: 4%;
 }
 .steps>ul>li {
  width: 15.8%;
   padding: 0 0%;
 margin: 0 0%;
 }
 .bottxt h2 {
   font-size: 5.2vw;
   line-height: 6.5vw;
 }
}
@media screen and (max-width: 400px) {
  .GoDown{
    width: 200px;
  }
  .GoDown>ul>li>a{
    font-size: 14px;
  }
  .manDes>ul>li>h3{
    padding-bottom: 10px;
  }
  .manDes>ul>li:last-child span{
    display: none;
  }
}
