@charset "utf-8";
/* CGV PJ 메인 CSS - main.css */

/* 외부CSS파일 합치기(머징:merging) */
@import url(reset.css);
@import url(core.css);

/* 외부파일 합치는 @import는 하나의 CSS외부파일
에서 다른 외부CSS파일을 하나의 문서로 합치는 기능을
한다. html에서 link방식의 요청을 최소화 할 수 있어서
랜더링 효율성을 높여준다! */

body {
    background-color: #000;
    /* 전체 검정색 배경 */
}

/* 레이아웃 공통 클래스 */
.part {
    width: 1200px;
    margin: 0 auto;
    /* 가로중앙 */
    outline: 3px dotted yellow;
}

/* 1. 상단영역 */
#top {
    height: 80px;
    background: url(../images/curtain.jpg) repeat-x;
}

/* 1-1. 페이지 타이틀 */
.tit{
    color: aquamarine;
    font-size: 40px;
    line-height: 80px;
    text-align: center;
    font-family: 'Jua', sans-serif;

    /* 그림자를 이용한 Glow효과 */
    text-shadow: 0 0 10px aquamarine;
}

/* 2. 메인영역 */
#cont {
    height: 788px;
    background: url(../images/bg.jpg) no-repeat;
}

/* 3. 하단영역 */
#info {
    height: 100px;
}